@import 'Styles/helper';
@mixin rounded-border {
    padding: 6px 10px;
    border-radius: 20px;
}
html {
    height: 100%;
  }
  
body {
    min-height: 100%;
    font-family: Roboto;
    margin: 0;
}
#app {
    min-height: 100vh;
}
/* Properties Overrided */

.MuiButton-textPrimary{
    color: $primary-color;
}
.MuiPaginationItem-textPrimary.Mui-selected {
    background-color: $primary-color;
}
#content {
    padding-top: 30px;
    padding-bottom: 150px;
    min-height: calc(100vh - 92px);
    background: rgb(244,248,251);
    .MuiToolbar-gutters{
        padding-right: 0;
    }
    section{
        flex-grow: 1;
        display: flex;
        input{
            margin-right: auto;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        .search-btn{
            min-width: 150px;
            min-height: 64px;
            background-color: $primary-color;
        }
    }
    
}
#header{
    background: rgb(255, 255, 255);
    box-shadow: none;
    border-bottom: 1px solid #fbfafa;
    padding: 0;
    .MuiToolbar-gutters{
        padding: 0;
    }
}
.container{
    color: #000;
    flex-grow: 1;
    @extend .d-flex;
    .nav-list {
        @extend .d-f-a-c;
        margin-left: auto;
        a{
            text-decoration: none;
            color:#000;
            margin-left: 40px;
            text-transform: uppercase;
        }
    }
}
#footer{
    .company-logo{
        color: #fff;
    }
    .container{
        flex-direction: column;
        margin-top:40px;
    }
    .title{
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 40px;
        font-weight: bold;
    }
    .list-items{
        @extend .d-flex;
        flex-flow: column wrap;
        span{
            margin-bottom: 30px;
        }
    }
    a{
        text-decoration: none;
        color:#fff;
    }
    .social-icons span{
        color: #fff;
        margin-right: 40px;
    }
}
#rightSidebar, #LeftSidebar{
    .MuiCardActions-root{
        flex-flow: column;
    }
    .MuiCardMedia-media {
        width: initial;
    }
    .MuiCardActionArea-root:hover .MuiCardActionArea-focusHighlight {
        opacity: 0;
    }
    .container{
        flex-flow: column;
        .title{
            border-bottom: 2px solid #dedede;
            text-transform: uppercase;
        }
        .sub-title{
            @extend .d-f-a-c;
            h5{
                margin-right: auto;
            }
        }
        .description, image-dec{
            font-size: 80%;
            color: #777;
            line-height: 1.5;
            width: 95%;
        }
        
    }
    .MuiButton-root{
        text-transform: initial;
    }
    .MuiButton-containedPrimary {
        background-color:$primary-color;
        margin: 20px 0;
        min-width: 130px;
    }
    .MuiButton-textPrimary{
        color: $primary-color;
        margin-bottom: 30px;
    }
}
#LeftSidebar{
    .title {
        @extend .d-f-a-c;
        h4{
            margin-right: auto;
        }
        span{
        text-transform: capitalize;
        }
    }
    .sub-title h5{
        @extend .d-f-a-c;
    }
    .checkbox-filter{
        flex-wrap: wrap;
        label{
            width: 100%;
        }
        .MuiCheckbox-colorSecondary.Mui-checked{
            color: $secondary-color;
        }
    }
    .progress-filter{
        .MuiSlider-root {
            color: $secondary-color;
            >.MuiSlider-markLabel{
                margin: 15px;
            }
            >.MuiSlider-markLabel:last-child{
                margin: 15px 0px 0 -10px;
            }
        }
        .MuiSlider-rail, 
        .MuiSlider-track,
        .MuiSlider-mark{
            height: 5px;
        }
        .MuiSlider-thumb{
            width: 14px;
            height: 14px;
        }
        .MuiInput-underline:before{
            width: 55px;
            height: 30px;
            border:1px solid rgba(0, 0, 0, 0.42);
            border-radius: 5px;
        }
        .MuiInputBase-input{
            text-align: center;
        }
    }
}
#result{
    margin: 0 30px;
    .container{
        padding: 30px;
        display: inherit;
        .header{
            display: flex;
            h4{
                margin-right: auto;
            }
            .sorting{
                @extend .d-f-a-c;
            }
        }
        
        .content{
            >div{
            @extend .d-f-a-c;
            .MuiSvgIcon-root{
                font-size: 1rem;
            }
            
            .job-type{
                color: #fff;
                margin-right: auto;
                margin-left: 5px;
                @include rounded-border;
                font: {
                    weight: bold;
                    size:80%;
                }
            }
            &.border{
                border-bottom: 2px solid #dedede;
                .skills{
                    @include rounded-border;
                    border: 1px solid #777;
                    margin-right: 5px;
                    margin-top: 20px;
                    margin-bottom: 30px;
    
                }
            }}
            
        }
        .MuiPagination-ul{
            width: 100%;
            justify-content: center;
            li{
               &:first-child{
                   margin-right: auto;
               } 
               &:last-child{
                   margin-left: auto;
               }
            }
        }
        .MuiPaginationItem-textPrimary.Mui-selected {
            background-color: $primary-color;
        }
    }
    
}

