.d-flex {
    display: flex;
}
.d-f-a-c{
    display: flex;
    align-items: center;
}
.col-green{
    color: green;
}
.col-blue{
    color: #4ea5f7;
}
.a-i-b{
    align-items: baseline;
}
.a-i-f-e{
    align-items: flex-end;
}